
div.errorExplanation {
    
}

dl {
    
}

    dl dd {
        margin-bottom: 1.33em;
    }

fieldset {
    padding: 0;
    border: none;
}

p.error,
p.notice,
div.errorExplanation,
div.fieldWithErrors {
    font-weight: bold;
    padding: 0.2em 0.4em;
}

p.error,
div.errorExplanation,
div.fieldWithErrors {
    color: #850505;
    background-color: #F2AAAA;
}

p.notice {
    color: #495C00;
    background-color: #E4F2AA;
}

table {
    border-collapse: collapse;
}

    table caption {
        font-weight: bold;
        text-align: left;
        padding-bottom: 0.5em;
    }

    table td,
    table th {
        padding: 0.3em 0.5em;
    }

    table td {
        vertical-align: top;
    }