<% if flash[:error] && !flash[:error].empty? %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] && !flash[:notice].empty? %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

<fb:if-section-not-added section="profile">
  <p>Add Github to your profile to see it listed there.</p>
  <fb:add-section-button section="profile" />
</fb:if-section-not-added>

<%= yield %>